@import "tailwindcss";

:root {
  --background: rgb(11, 22, 34);
  --foreground: rgb(139, 160, 178);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

@theme {
  --color-text: rgb(159, 173, 189);
  --color-text-light: rgb(114, 138, 161);
  --color-text-lighter: rgb(133, 150, 165);
  --color-foreground-sp: rgb(21, 31, 46);
  --color-shadow-dark: rgb(6, 13, 34);
  --color-blue: rgb(61, 180, 242);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
